.explorer {
  top: 2rem;
  background-color: var(--clr-explorer);
  width: var(--explorer-width);
  height: calc(100% - 2rem);
  margin-left: 2.5rem;
  position: fixed;
  /* overflow: auto; */
  resize: horizontal;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.header {
  text-align: left;
  /* margin: 0; */
  font-weight: 100;
  text-transform: uppercase;
  /* font-size: 0.8rem; */
  color: var(--clr-primary);
  font-size: 0.75rem;
  margin-left: calc(10% + 1ch);
  margin-top: 5%;
}

.content {
  width: 100%;
  height: auto;
  text-transform: uppercase;
  font-size: 5rem;
  text-align: left;
}

.item {
  margin: 5% 0 0 5%;
  padding: 0;
  font-size: 0.75rem;
  background-color: transparent;
  font-weight: bold;
}

.subMenu:hover {
  cursor: pointer;
  color: var(--clr-primary);
  background-color: var(--clr-highlight);
}

.item.selected {
  background-color: var(--clr-highlight);
}

.subMenu {
  margin: 5% 0 0 18%;
}

.dropdown {
  border: 0;
  color: var(--clr-primary);
  background-color: transparent;
}
