@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

/* 
Default:
body: #131313
accent: #252526

Light Body: #ffffff
Light accent: #f3f3f3

Blue body: #011627
Blue accent: #01111d
*/

:root {
  --clr-icon: #e44f26;
}

:root.dark {
  --clr-sidebar: #333;
  --clr-explorer: #252526;

  --clr-primary: #fff;
  --clr-secondary: #000;

  --clr-bg: #1e1e1e;
  --clr-accent: #252526;
  --clr-tab: #1e1e1e;
}

:root.light {
  --clr-sidebar: #333;
  --clr-explorer: #f3f3f3;

  --clr-primary: #000;
  --clr-secondary: #fff;

  --clr-bg: #fff;
  --clr-accent: #eaeaea;
  --clr-tab: #fff;
}

:root.blue {
  --clr-primary: #fff;
  --clr-secondary: #000;

  --clr-bg: #011627;
  --clr-accent: #010e1a;
  --clr-tab: #01111d;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: Consolas, "Courier New", monospace; /*'Roboto Mono', sans-serif;-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  background: var(--clr-bg); /*linear-gradient(#03182b, #084277); */
  color: var(--clr-primary);
  scroll-behavior: smooth;
}

body {
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.border-bottom {
  border-bottom: 0.15rem solid #ffffff;
}

.container {
  /* padding: 0 2rem; */
  margin: 5% 0 0 15%;
  text-align: center;
}

.grid {
  display: grid;
  align-items: left;
  justify-content: left;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 1.5em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

::-webkit-scrollbar {
  width: 0.75em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 0.15rem;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}
