@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* 
Default body: #131313
Default accent: #252526

Light Body: #ffffff
Light accent: #f3f3f3

Blue body: #011627
Blue accent: #01111d
*/

:root {
  --clr-primary: #ffffff;
  --clr-secondary: #000000;

  --clr-bg: #131313;
  --clr-accent: #252526;
  --clr-tab: #1e1e1e;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;/*-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  background: var(--clr-bg); /*linear-gradient(#03182b, #084277); */
  color: var(--clr-primary);
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.border-bottom {
  border-bottom: 0.15rem solid #ffffff ;
}

.container {
  padding: 0 2rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --clr-primary: #000000;
    --clr-secondary: #ffffff;
  }
} */

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 0.15rem;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}