.header {
    border-bottom: .25rem solid var(--clr-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    padding: 0 2rem;
    background-color: var(--clr-accent);
    align-items: flex-start;
    /* margin-left: calc(30% - 15em); */
}

.file {
    background-color: var(--clr-tab);
    /* border: 1px solid green; */
    padding: 1em;
}

.header > p {
    align-self: start;
    font-size: 1.5rem;
}

.links {
    margin-right: auto;
}

.link {
    text-decoration: none;
    padding: 0.25em;
    margin-left: auto;
    font-size: 1.5rem;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 50em;
}

.isSticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 0 rgb(0 0 0 / 15%);
    background-color: #ffffff !important;
    animation: ease-in-out 0s normal none 1 running fadeInDown;
    padding-top: 0px;
    padding-bottom: 0px;
}