#terminal {
  width: 82.5%;
  height: 100%;
  resize: vertical;
  margin-top: 2.5%;
}

.text div {
  display: flex;
  align-items: center;
  /* gap: 0.75rem; */
  padding: 0.75rem;
  /* border-bottom: 0.15rem solid var(--clr-primary); */
  background-color: var(--clr-bg);
  resize: vertical;
  width: 100%;
  height: 100%;
}

.text textarea {
  width: 100%;
  height: 100%;
  margin-top: 0.25em;
  font-family: monospace;
  background-color: var(--clr-bg);
  color: var(--clr-primary);
  margin-bottom: 0;
  padding-bottom: 0;
  border-width: 1px;
}

.close {
  float: right;
  width: 2rem;
  height: 2rem;
  background-color: var(--clr-bg);
  color: var(--clr-primary);
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
}

.header {
  text-decoration: underline;
  text-align: left;
  margin-top: 0.5em;
  width: fit-content;
  text-transform: uppercase;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-bg);
  color: var(--clr-primary);
  padding: 0.5rem;
  /* border-bottom: 0.15rem solid var(--clr-primary); */
}
